.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: roboto;
}
.not-found-para {
  width: 500px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .not-found-para {
    width: 350px;
  }
}

.retry-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  padding: 10px 16px;
  color: white;
  background-color: #0284c7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
