.login-container {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: #f8fafc;
}
@media screen and (max-width: 767px) {
  .login-container {
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
  }
}
.login-image {
  background-size: cover;
  height: 740px;
  width: 50vw;
}
@media screen and (max-width: 767px) {
  .login-image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-top: 50px;
  }
}
.login-form {
  display: flex;
  width: 550px;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 75vh;
  margin: 100px;
  padding: 40px;
}
@media screen and (max-width: 767px) {
  .login-form {
    margin-top: 10px;
  }
}
.input-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 90px;
  margin-top: 40px;
}
label {
  color: #5a7184;
  font-weight: 600;
  font-size: 16px;
}
.inputs {
  margin-top: 5px;
  height: 56px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #a8b3bc;
}
.login-button {
  background-color: #0284c7;
  width: 360px;
  height: 56px;
  margin-top: 40px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
.error {
  color: #ef4444;
  font-size: 14px;
  margin-left: -250px;
}
@media screen and(max-width:767px) {
  .error {
    margin: 55px;
    text-align: left;
  }
}
