.side-container {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .side-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.buttons {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  padding-top: 12px;
  text-align: left;
  color: #475569;
  cursor: pointer;
}
.highlight {
  font-family: roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #0284c7;
}
@media screen and (max-width: 768px) {
  .buttons {
    border: 1px solid #0284c7;
    margin: 10px;
    border-radius: 22px;
    min-width: 75px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #0284c7;
    font-weight: 500px;
  }
  .highlight {
    color: #f8fafc;
    background-color: #0284c7;
  }
}
